body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

}
.top-banner{
    background-image: white;
   
}
.flexible-continer{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding: 3%;
    
}
.half-width-img{
    width: 10% 10%;
    
    
}
h1{
    font-size: 50px;
}
.blue-colour{
    color: rgba(13, 131, 228, 0.822);
}
.anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, rgb(26, 114, 230), cyan);
    padding: 15px 40px;
    border-radius: 25px;
    color: white;
    font-weight: 700;
}
p{
    color: black; 
}
.about{
    background-image: url("Images/Frame-57.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
    background-attachment: fixed;
    padding-right: 3%;
}
.a
.recipies{
    box-shadow: 5px 40px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 10px;
    
}
#id{
    border-left: 7px solid;
    border-item
    border-image-slice: 1;
}
.footer{
    background-image: Black;
    
}